      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }

      .parent {
        display: grid;
        place-items: center; /* Centers vertically */
        height: 100vh; /* Optional: sets the container height, e.g., full screen height */
        color: hsl(212, 45%, 89%);
        width: 1440px;
      }

      .centered {
        text-align: center;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        width: 375px;
      }

      h1 {
        color: hsl(218, 44%, 22%);
      }
      p {
        color: hsl(212, 45%, 89%);
        padding-left: 10px;
        padding-right: 10px;
      }
      body {
        background-color: hsl(216, 15%, 48%);
      }
      img.rounded-corners {
        border-radius: 25px;
        padding-top: 15px;
        display: inline-block;
        width: 350px;
      }